<%- include('./partials/Header.ejs') %>
    <%- include('./partials/Navbar.ejs') %>

        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus dolores delectus provident harum
            cupiditate exercitationem eligendi ut et voluptatum nisi vero quaerat soluta consectetur sapiente alias,
            modi, rerum sit sequi possimus natus? Consequuntur quaerat modi quos tempora nihil veritatis praesentium
            iusto ea amet eius voluptatum quis neque, tenetur, distinctio aut rerum odit voluptatibus. Perferendis,
            architecto quia! Obcaecati neque provident corporis quos vel est quo quis ut, quaerat quidem sapiente
            veritatis cupiditate illum illo vero repellendus? Vitae corrupti officia repellendus sunt quia debitis,
            deserunt harum accusamus dignissimos vel nisi earum dolorum sequi consequuntur repudiandae veniam odio natus
            perferendis! Optio ullam quas ducimus molestiae incidunt eligendi delectus tempore, dicta cum beatae eaque,
            facere quos, ipsa veniam saepe? Unde illum error veritatis quos magnam quas ad in dolorem mollitia culpa
            ullam minus, voluptatum ab, enim molestias fuga. Id repudiandae expedita quo, esse voluptatum eos quibusdam
            nobis! Dignissimos eaque delectus obcaecati temporibus, numquam magni tempore ad corrupti ipsa maiores autem
            et sequi deleniti nemo dolor rerum iste sunt tempora est? Fugit vitae, modi officia corrupti nemo facere
            illum similique architecto! Eaque vitae et optio quas non nesciunt animi accusantium totam ducimus! Sit
            accusantium fuga ab eum vel exercitationem, quibusdam consequuntur nostrum corrupti placeat.</p>


        <%- include('./partials/Footer.ejs') %>